<ion-header>
  <ion-navbar color="primary">
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item no-lines class="content">
    <button ion-button clear item-start icon-only large>
      <ion-icon name="md-add"></ion-icon>
    </button>
    <h1 class="title" ion-text text-uppercase>add client</h1>
  </ion-item>

  <div margin-top color="content" class="semi">
    <ion-item class="round" > 
      <ion-label stacked>Client Name</ion-label>
      <ion-input type="text" [(ngModel)]="cName" autofocus></ion-input>
    </ion-item>

    <ion-item class="round">
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" [(ngModel)]="mail"></ion-input>
    </ion-item>

    <ion-item class="round" >
      <ion-label stacked>Phone Number</ion-label>
      <ion-input type="text" [(ngModel)]="phone"></ion-input>
    </ion-item>


    <!-- Image Addition       -->
    <ion-item class="selects" *ngIf="!img1">
      <ion-label class="selectText">Select Logo</ion-label>
      <ion-input type="file" (change)="fileChange($event)" accept="image/x-png,image/gif,image/jpeg" id="file-input"
        style="opacity: 0" #fileInp (ngModel)="file1"></ion-input>
    </ion-item>

    <ion-item *ngIf="img1">
      <img [src]="img1" class="imgView" />
      <div class="editBtns">
        <button class="btnTrash" ion-button color="danger" (click)="removeImage()">
          Remove
        </button>
      </div>
    </ion-item>
    <!-- Image Addition Ended -->

    <button ion-button margin-top round float-right (click)="checkData()">Add Client</button>

  </div>


</ion-content>